body { 
  background-image: url(../images/bg7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Cut', cursive;
  color: #f95527;
}

.body-text {
  color: #D3D3D3;
}