body { 
  /*background-image: url(../images/bg10.jpg);*/
  background-image: linear-gradient(red, orange);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
    
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nova Cut', cursive;
  color: #fff;
}