body{
    font-family: 'Pontano Sans', sans-serif;
    background-color:floralwhite;
    padding-top: 20px;
}

.row-eq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

h1 {
    font-size: 2000%;
}

a {
    font-weight: 900;
    color: black;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}